@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Anton');

.body {
    margin: 0;
    padding: 0;
}

/*----header starts----*/

.container-fluid {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.navbar {
    background-color: #d9d9d9;
}

.logo {
    margin: 0px;
    height: 80px;
    width: 150px;
    background-color: #d9d9d9;
}

.navbar-right {
    float: right;
    background-color: #d9d9d9;
}

.navbar-right ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-right li {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    line-height: 3.5;
}

.navbar-right a {
    color: #4d4d4d;
}

/*----header ends---*/

/*----section starts----*/

.btn {
    margin-left: 320px;
    margin-top: 25px;
    width: 50%;
    font-family: "Anton";
    font-size: large;
    font-stretch: expanded;
}

.stage {
    margin: 60px;
    width: 90%;
    border-radius: 70px;
}

.contianer {
    margin: 60px;
    width: 30%;
    border-radius: 10px;
}

.newalbum {
    margin-left: 200px;
    width: 70%;
}

.members {
    margin: 60px;
    margin-left: 70px;
    width: 90%;
    height: 450px;
    border-radius: 70px;
}

h1 {
    margin-top: 25px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    margin-top: 10px;
    text-align: center;
}

/*----section ends----*/

/*----footer starts----*/

.footer ul {
    margin: 0;
    margin-bottom: 0;
}

.nav-footer-center {
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

.nav-footer-center ul {
    list-style-type: none;
    margin-bottom: 0;
}

.nav-footer-center li {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    line-height: 3.5;
}

.nav-footer-center a {
    color: #4d4d4d;
}

/*----footer ends----*/

/*----Book us starts----*/

form {
    margin: 20px;
    padding: 20px;
    text-align: center;

}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
    text-shadow: #d9d9d9;
}

textarea {
    resize: both;
}

submit {
    text-align: center;
}

/*----Book us ends----*/

/*------media query-----*/

@media (min-width: 575px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}

@media (min-width: 1200px) {}
